@page "/"
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial scale=1.0" />
    <title>Alberta Library</title>
    <link href="css/app.css" rel="stylesheet" />
</head>
<body>

    <h1> ALBERTA LIBRARY</h1>
    <div class="image-container">
        <img src="https://c4.wallpaperflare.com/wallpaper/148/392/948/1920x1080-px-books-interior-design-interiors-knowledge-library-shelves-anime-pokemon-hd-art-wallpaper-preview.jpg" alt="Image" />
    </div>

</body>
</html>
